@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    
}

header{
    background-color: #0A3A40;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    

}
header > img {
    height: 200px;
}
 div#nome{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
}

div#sobre{
    margin: 10px;
}

div#sobre > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: rgb(192, 225, 238);
    width: 150px;
    padding: 6px 25px 5px 25px;
    border-radius: 5px;
    background-color:rgb(221, 80, 80) ;
    border: 2px solid rgb(236, 67, 67);
}

div#sobre > a:hover {
    background-color: lightgray;
    color: rgb(221, 80, 80);
}
div#midias  {
    padding-bottom: 15px; 
}



div#midias > a > img {
    margin: 10px;
    padding: 5px;  
    border-radius: 50%; 
    border: 1px solid #21c0c0; 
}

div#midias > a > img:hover{
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 2px #107361;
    transition: transform 0.3s, border 0.3s;
    
}

main{
    background-color: #1D7373;
    color: white;
    height: 100vh;
}
main > h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    padding: 30px;
    width: 200px;  
}


section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.cards{
    margin: 20px;
    width: 200px;
    height: 300px;
    background-color: #042326;
    border-radius: 5px;
}

.cards:hover{
    box-shadow: 5px 5px 5px #00241d;
}

div.nomep{
    padding: 12px;
    text-align: center;
    text-decoration:none;  
    color: lightgray;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
div.img {
    position: relative;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 230px;
    width: 175px;
    
}
#redessociais{
    background-image: url(../imagens/redes-sociais.png);
    background-size: cover;
}

#login{
    background-image: url(../imagens/login.png);
    background-size: cover;
    background-position: center  ;
}

#cordel{
    background-image: url(../imagens/cordel.png);
    background-size: cover;
    background-position: center;

}
footer{
    background-color: #0A3A40;
    color: white;
    padding: 5px;
    text-align: center;
}